:root {
  --yellow: #59c281;
  --black: #494747;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #bb2d80 0%, #291792 100%);
}

p {
  margin: 0 0 10px;
}

.tabs {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.tabs__nav {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tabs__nav-btn {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #f5f5f5;
  border: 0;
  border-right: 1px solid #ddd;
  cursor: pointer;
  flex: 3;
}

.tabs__nav-btn:last-child {
  border-right: none;
}

.tabs__nav-btn:hover {
  background-color: #ddd;
}

.tabs__nav-btn.active {
  background-color: #5e3ddf;
  border-right-color: #5e3ddf;
  color: #fff;
}

.tabs__content {
  padding: 30px;
  background-color: #fff;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'hero hero cta1'
    'hero hero cta2';
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: white url(./taco.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero > * {
  background: var(--yellow);
  padding: 5px;
}

.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.price {
  font-size: 60px;
  font-weight: 300;
}
